.area {
background-color: orange;
position: relative;
}
.snake{
    background-color: green;
    position: absolute;
    border-radius: 30%;
}
.snake:nth-child(2){
    background-color: black;
}
.food{
    background-color: red;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
}
.score{
    background-color: green;
    font-size: large;
    color: black;
}